 body {
    background-color: #f3e8ff;
    color: #4b0082;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #6a0dad;
  }
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }
  select {
  width: 20%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #6a0dad; /* purple border */
  border-radius: 5px;
      background-color: #faf5ff;

  font-size: 1em;
  box-sizing: border-box;
}

  input[type="text"], input[type="password"] {
    width: 10%;
    padding: 7px;
    border: 2px solid #6a0dad;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
    background-color: #faf5ff;
    color: #4b0082;
    
  }
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  button {
    flex: 1 1 22%;
    margin: 5px;
    padding: 15px;
    background-color: #6a0dad;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
  }
  button:hover {
    background-color: #7f3fbf;
  }
 .console {
  background-color: #e6d9ff; /* violet pâle */
  border-radius: 8px;
  padding: 15px;
  height: 280px;
  width: 80%;
  resize: none;
  overflow-y: auto;
  font-family: monospace;
  font-size: 0.9em;
  line-height: 1.4;
  color: #4b0082;
  border: 2px solid #6a0dad;
}

  .status-bar {
    margin-top: 15px;
    background-color: #d1b3ff;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    color: #3a006f;
  }